<div class="row text-center">
    <div class="card col p-3 m-3 bg-primary text-white">
        <div class="card-body">
            <div class="card-title"><h3>Total Confirmed</h3></div>
            <div class="card-text"><h4>{{totalConfirmed | number}}</h4></div>
        </div>
    </div>
    <div class="card col p-3 m-3 bg-warning text-white">
        <div class="card-body">
            <div class="card-title"><h3>Total Active</h3></div>
            <div class="card-text"><h4>{{totalActive | number}}</h4></div>
        </div>
    </div>
    <div class="card col p-3 m-3 bg-success text-white">
        <div class="card-body">
            <div class="card-title"><h3>Total Recovered</h3></div>
            <div class="card-text"><h4>{{totalRecovered | number}}</h4></div>
        </div>
    </div>
    <div class="card col p-3 m-3 bg-danger text-white">
        <div class="card-body">
            <div class="card-title"><h3>Total Deaths</h3></div>
            <div class="card-text"><h4>{{totalDeaths | number}}</h4></div>
        </div>
    </div>
</div>